<ion-view title="เกี่ยวกับโครงการ">

    <ion-content class="scroll-content ionic-scroll">

        <div class="list">

            <div class="item" style="padding:0px 0px 0px 0px;">
                <ion-slide-box delegate-handle="" style="background-color: black; height: 15em; width: 100%;">
                    <ion-slide ng-repeat="photo in photos">
                        <div class="box"><img class="fill" ng-src="{{base_url}}{{photo.url}}" style="height: 15em;"></div>
                    </ion-slide>

                </ion-slide-box>
            </div>

            <div class="item item-thumbnail-left item-text-wrap">
                <img ng-src="{{base_url}}{{logo.url}}">
                <h2>โครงการหนึ่งคณะหนึ่งโมเดล</h2>
                <div class="col"><button class="button button-block button-small button-balanced">Download File</button></div>
            </div>

            <div class="item item-body" style="padding: 5px;">
                <div class="row" style="padding: 0px;">
                    <div class="col">
                        เกี่ยวกับโครงการหนึ่งคณะหนึ่งโมเดล
                    </div>
                </div>
                <div class="row" style="padding: 0px;">
                    <div class="col">
                        <btf-markdown class="btf-markdown">
โครงการหนึ่งคณะหนึ่งโมเดลนั้น...

ทดสอบ btf-markdown
                        </btf-markdown>
                    </div>
                </div>
            </div>


        </div>


    </ion-content>
</ion-view>
