<ion-view hide-nav-bar="true">

    <ion-header-bar style="height: auto; width:inherit; border:none;line-height: 0px;padding: 0px;">
        <a href="/#/about" style="height:inherit; width:inherit;">
            <img style="width:100%; height: 100%;" src="img/welcomePage/welcomePage_TH_V02_01.jpg"/>
        </a>
    </ion-header-bar>

    <ion-content class="" style="line-height:0px;top:0;">
        <img style="width:100%; height: 100%;" src="img/welcomePage/tp.png"/>
        <a class="" href="/#/tab/news">
            <img style="width: 100%; height: auto;" src="img/welcomePage/welcomePage_TH_V02_02.jpg">
        </a>
        <a class="" href="/#/tab/project">
            <img style="width: 100%; height:auto;" src="img/welcomePage/welcomePage_TH_V02_03.jpg">
        </a>
        <a class="" href="/#/tab/map">
            <img style="width: 100%; height: auto;" src="img/welcomePage/welcomePage_TH_V02_04.jpg">
        </a>
        <a class="" href="/#/tab/media">
            <img style="width: 100%; height: auto;" src="img/welcomePage/welcomePage_TH_V02_05.jpg">
        </a>
        <a class="" href="/#/tab/contact">
            <img style="width: 100%; height: auto;" src="img/welcomePage/welcomePage_TH_V02_06.jpg">
        </a>


    </ion-content>
</ion-view>
