<ion-view title="{{news.header}}">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

  <ion-content class="padding">
  	<div class="list card" ng-if="news">

	  <div class="item item-avatar">
	    <img ng-src="{{base_url}}{{news.user.profile_image.url}}">
	    <h2>{{news.user.title}}{{news.user.firstname}} {{news.user.lastname}}</h2>
	    <p>{{news.updated_at | badDateToISO | date:'EEEE, MMMM d, y h:mm a'}}</p>
	  </div>

	  <div class="item item-body">
          <div ng-if="news.photos.length > 0">
              <ion-slide-box on-slide-changed="slideHasChanged($index)" style="height: 15em; width: 100%;">
                  <ion-slide ng-repeat="photo in news.photos">
                      <div class="box" ><img class="fill" ng-src="{{base_url}}{{photo.url}}"/> </div>
                  </ion-slide>

              </ion-slide-box>

          </div>

	    <p>
	      {{news.content}}
	    </p>
	    <p>
	      <a href="#" class="subdued">1 Like</a>
	      <a href="#" class="subdued">5 Comments</a>
	    </p>
	  </div>

	  <div class="item tabs tabs-secondary tabs-icon-left">
	    <a class="tab-item" href="#">
	      <i class="icon ion-thumbsup"></i>
	      Like
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-chatbox"></i>
	      Comment
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-share"></i>
	      Share
	    </a>
	  </div>
	</div>
  </ion-content>
</ion-view>
