<ion-view title="{{project.name_th}}">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

  <ion-content class="padding">
  	<div class="list card">
  	  <div class="item">
	    <p>1. ชื่อโครงการ</p>
	  </div>

	  <div class="item">
	    <p>2. ผู้รับผิดชอบโครงการ</p>
	  </div>

	   <div class="item">
	    <p>3. บทสรุปผู้บริหาร</p>
	  </div>

	  <div class="item">
	    <p>4. พื้นที่ที่ดำเนินงาน </p>
	  </div>

	  <div class="item">
	    <p>5. บริบทของพื้นที่  </p>
	  </div>

	  <div class="item">
	    <p>6. วัตถุประสงค์ </p>
	  </div>

	  <div class="item">
	    <p>7. วิธีดำเนินงาน/กิจกรรม   </p>
	  </div>

	  <div class="item">
	    <p>8. ผลงานดำเนินงานของโครงการ  </p>
	  </div>

	  <div class="item">
	    <p>9. กิตติกรรมประกาศ  </p>
	  </div>

	</div>
  </ion-content>
</ion-view>
