<ion-view title="{{project.name_th}}">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

  <ion-content>

    <div class="" style="height: 15em;"><img style="width: 100%; height: 100%;" ng-src="{{base_url}}{{project.cover.url}}"/> </div>
    <div class="list">

        <div class="item item-avatar-left">
            <img ng-src="{{base_url}}{{project.photos[0].url}}">
            <div class="row">
                <div class="col">
                    <h2>{{project.name_th}}</h2>
                    <h3>{{project.faculty.name_th}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-offset-50"><button class="button button-small button-block button-balanced">Download Full Text</button></div>
            </div>
        </div>

        <div class="item item-body">
            <h2>บทสรุปผู้บริหาร (Executive Summary)</h2>
            <btf-markdown btf-markdown="project.executive_summary" class="btf-markdown">
            </btf-markdown>
        </div>

    </div>

  </ion-content>
</ion-view>
