<ion-view title="Welcome">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<ion-content  class="scroll-content ionic-scroll  has-header"> 

	<ion-slide-box delegate-handle="myslidebox">
          <ion-slide>
            <div class="box orange" style="background-color: red; height: 300px;"><h6>มหาวิทยาลัยพะเยา</h6></div>
          </ion-slide>
          <ion-slide>
            <div class="box yellow" style="background-color: yellow; height: 300px;"><h6>คณะเทคโนโลยีสารสนเทศและการสื่อสาร</h6></div>
          </ion-slide>
          <ion-slide>
            <div class="box pink" style="background-color: pink; height: 300px;"><h6>สาขาเทคโนโลยีคอมพิวเตอร์เคลื่อนที่</h6></div>
          </ion-slide>
        </ion-slide-box>

        <!--List news-->
		<div class="list">
		    <a class="item item-thumbnail-left" href="#/tab/news/detail">
		      <img src="img/Chrysanthemum.jpg">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </a>

		    <a class="item item-thumbnail-left" href="#">
		      <img src="img/Tulips.jpg">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </a>

		    <a class="item item-thumbnail-left" href="#">
		      <img src="img/Hydrangeas.jpg">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </a>

		    <a class="item item-thumbnail-left" href="#">
		      <img src="img/Jellyfish.jpg">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </a>

		    <a class="item item-thumbnail-left" href="#">
		      <img src="img/Chrysanthemum.jpg">
		      <h2>Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </a>
		</div>
		<!--End List news-->
	</div>
</ion-content>
</ion-view>
