<ion-view title="Project">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

  <ion-content  class="scroll-content ionic-scroll  has-header">

	    <!--List news-->
		<div class="list">
		    <a class="item item-thumbnail-left item-text-wrap item-icon-right" ng-repeat="project in projectList" href="#/tab/project/{{project.id}}/detail">
		      <img style="width:80px; height:80px;" ng-src="{{base_url}}{{project.cover.url}}">
		      <h2>{{project.name_th | cut:true:50:"..."}}</h2>
		      <h3>{{project.faculty.name_th}}</h3>
                <i class="icon ion-chevron-right" style="color: #808080" ></i>
		    </a>
		</div>

		<!--End List news-->
	</div>
</ion-content>
</ion-view>