<ion-view title="Welcome">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<ion-content  class="scroll-content ionic-scroll  has-header"> 

	<ion-slide-box delegate-handle="myslidebox" style="height: 15em;">
          <ion-slide>
            <div class="box" style="background-color: red; height: 100%;">มหาวิทยาลัยพะเยา</div>
          </ion-slide>
          <ion-slide>
            <div class="box" style="background-color: yellow; height: 100%;">คณะเทคโนโลยีสารสนเทศและการสื่อสาร</div>
          </ion-slide>
          <ion-slide>
            <div class="box" style="background-color: pink; height: 100%;">สาขาเทคโนโลยีคอมพิวเตอร์เคลื่อนที่</div>
          </ion-slide>
        </ion-slide-box>

        <!--List news-->
		<div class="list">

            <a class="item item-thumbnail-left" ng-repeat="news in newsList" href="#/tab/news/detail/{{news.}}">
                <img data-src="holder.js/80x80" holder-fix>
                <h2>{{news.header}}</h2>
                <p>{{news.content}}</p>
            </a>
		</div>
		<!--End List news-->
	</div>
</ion-content>
</ion-view>
