<ion-view title="Map">
  <ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div class="card">
	  <div class="item item-divider">
	    Map
	  </div>
	  <div class="item item-text-wrap" >
	    <iframe class="fill" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d482223.17400674516!2d100.26438452893196!3d19.22276337039765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30d82120f437301b%3A0x195a4b21f6c96a8c!2z4Lie4Liw4LmA4Lii4Liy!5e0!3m2!1sth!2sth!4v1418575523123" width="300" height="300" frameborder="1" style="border:1"></iframe>
	  </div>
	</div>
  </ion-content>
</ion-view>
