<ion-view title="Media">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

  <ion-content class="padding">
    <div class="card">
	  <div class="item item-divider">
	    Photo
	  </div>
	  <div class="item item-text-wrap">
	    Photo.
	  </div>
	</div>
	
	<div class="card">
		<div class="item item-divider">
	    Video
	  </div>
	  <div class="item item-text-wrap">
	    Video.
	  </div>
	</div>
  </ion-content>
</ion-view>
