<ion-view title="Project">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

  <ion-content  class="scroll-content ionic-scroll  has-header"> 

	<ion-slide-box delegate-handle="myslidebox" style="height: 13em;">
          <ion-slide>
            <div class="box color1" style="background-color: #CCFF00;">มหาวิทยาลัยพะเยา</div>
          </ion-slide>
          <ion-slide>
            <div class="box color2" style="background-color: #CCFFFF; height: 300px;">คณะเทคโนโลยีสารสนเทศและการสื่อสาร</div>
          </ion-slide>
          <ion-slide>
            <div class="box color3" style="background-color: #FF9900; height: 300px;">สาขาเทคโนโลยีคอมพิวเตอร์เคลื่อนที่</div>
          </ion-slide>
        </ion-slide-box>

        <!--List news-->
		<div class="list">
		    <a class="item item-thumbnail-left" ng-repeat="project in projectList" href="#/tab/project/{{project.id}}/detail">
		      <img src="img/Chrysanthemum.jpg">
		      <h2>{{project.name_en}}</h2>
              <h3>{{project.name_th}}</h3>
		      <p>{{project.faculty.name_th}}</p>
		    </a>


		</div>
		<!--End List news-->
	</div>
</ion-content>
</ion-view>