/* Empty. Add your own CSS if you like */

.box {
    width: 100%;
    height: 100%;
}

img.fill {
    width: inherit;
    height: inherit;

    display: block;
    text-align: center;

    margin-top : auto;
    margin-bottom: 0;
}
.news-p p {
    margin-bottom: 10px;
    text-indent: 40px;
}

.btf-markdown p {
    text-align: justify;
    text-justify: kashida;
}